.suitContainer {
  height: calc(100vh - 130px);

  .suitImage {
    min-height: calc(100vh - 122px);
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }

  .suitDescription {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(236, 236, 236);

    .item {
      color: gray;
    }

    .button {
      a {
        display: block;
        color: grey;
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
