$break-point-tablet: 768px;
$break-point-mobile: 414px;
$break-point-desktop: 992px;

.loading {
  display: flex;
  justify-content: center;
}

.suitsContainer {
  display: grid;
  grid-template-columns: auto auto;

  .suitThumbnail {
    height: 30vh;
    background: #fff;
    position: relative;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    .hide {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 3;
      color: #fff;
      opacity: 0;
      transform: translateY(60px);
      transition: 0.5s;

      .title {
        font-size: 1.4rem;
        font-style: italic;
      }

      .appointmentIcon {
        font-size: 1.7rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #000, transparent);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }

    &:hover {
      transform: translateY(25px);

      &::before {
        opacity: 1;
      }

      .hide {
        opacity: 1;
        transform: translateY(0);
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
  }

  @media only screen and (max-width: $break-point-mobile) {
    display: grid;
    grid-template-columns: auto;
  }

  @media only screen and (min-width: $break-point-tablet) {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  @media only screen and (min-width: $break-point-desktop) {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
